<div class="container">
<div >
    <h1 class="display-4">Vamos lutar todos juntos</h1>
    <img src="https://static.fecam.net.br/uploads/885/imagens/2869916.png" alt="covid19">
    <p class="lead">O vírus que causa a COVID-19 é transmitido principalmente por meio de gotículas geradas quando uma pessoa infectada tosse, espirra ou exala.</p>
    <hr class="my-4">
    <p>Você pode ser infectado ao inalar o vírus se estiver próximo de alguém que tenha COVID-19 ou ao tocar em uma superfície contaminada e, em seguida, passar as mãos nos olhos, no nariz ou na boca.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="dadosCovid" role="button">Saiba mais</a>
    </p>
  </div>
</div>
